@import "styles";
@import "footer";
@import "header";

.about-page {
    background: url("../images/bg-1.jpg");
    background-size: contain;
    height: 800px;

    .about-container {
        margin-top: 5px;

        aside {
            position: relative;
            height: 320px;
            background-color: $aside-grey;

            p {
                position: absolute;
                color: #000;
                bottom: 17px;
                left: 18px;
                font-weight: bold;
                font-size: 25px;
            }
        }

        .main-text {
            background: $aside-grey;
            height: 320px;
            white-space: pre-line;
            overflow: hidden;
        }
    }

    .features {
        position: static;
        margin-top: 55px;

        .feature-item {
            height: 243px;
            .main-img {
                width: 100%;
                height: 130px;
            }

            div {
                min-height: 94px;

                h2 {
                    font-size: 11.5px;
                }

                p {
                    font-size: 12px;
                }
            }

            .forma {
                width: 17px;
                height: 17px;
            }
        }
    }

    #para {
        color: #fff;
    }

    .col-md-2,
    .col-md-4,
    .col-sm-6,
    .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width:991px) {
    .about-page {
        min-height: 1230px;
    }

    .about-page .about-container aside {
        height: 70px;
    }
}

@media(max-width:768px) {
    .about-page {
        min-height: 1737px;
    }
}
