@import "styles";
@import "footer";
@import "header";

.contact-page {
    background: url("../images/bg-1.jpg");
    background-size: cover;
    height: 760px;

    .map-container {
        margin-top: 27px;
    }

    #map {
        height: 320px;
        background-color: grey;
    }

    aside {
        position: relative;
        height: 320px;
        background-color: $aside-grey;

        p {
            position: absolute;
            color: #000;
            bottom: 17px;
            left: 18px;
            font-weight: bold;
            font-size: 25px;
        }
    }

    form {
        max-width: 443px;
        margin: 5px auto 30px;
    }

    input.form {
        display: block;
        width: 443px;
        margin-bottom: 5px;
        font-weight: bold;
        padding-left: 10px;
    }

    .btn.form {
        background-color: $contact-btn;
        color: #fff;
        width:100%;
        margin-bottom: 5px;
        border:none;
        border-radius: 0;
        font-weight: bold;
    }
    textarea{
      width: 100%;
      font-weight: bold;
      padding-left: 10px;
    }

    #para {
        text-align: center;
        color: #fff;
    }
}

@media (max-width:991px) {
    .contact-page {
        min-height: 980px;
    }

    .contact-page aside {
        height: 70px;
    }
}

@media(max-width:767px) {
    .contact-page .contact-container {
        margin-top: -15px;
    }
}
