
    nav {
        background-color: $aside-grey;
        padding-top: 2px;
    }
    .navbar{
      border-raduis:0px!important;
    }
    .navbar-default .navbar-nav > li > a {
        color: #000;
        font-weight: bold;
        font-size: 15px;
    }

    .navbar-brand {
        padding: 5px 2px 5px 5px !important;
        margin-right: 125px;
        height: 46px;

        img {
            height: 36px;
            width: 50px;
        }
    }
    .soc {
        padding-top: 10px !important;
        padding-left: 9px;
        padding-right: 0 !important;

        li {
            display: inline-block;

            &:nth-of-type(3) {
                border-right: 2px solid #000;
            }

            a {
                padding: 10px 3px !important;

                i {
                    color: #000;
                    font-size: 17px;
                }
            }
        }
    }

    .nav > li > a {
        padding: 10px 11px;
    }

    .search {
        display: none;
    }
