@import "styles";
@import "footer";
@import "header";

.internal-page {
    background: url("../images/bg-1.jpg");
    background-size: cover;
    min-height: 100vh;

    .internal-container {
        margin-top: 28px;
        margin-bottom: 25px;

        aside {
            position: relative;
            height: 320px;
            background: $aside-grey;

            p {
                position: absolute;
                color: #000;
                bottom: 17px;
                left: 18px;
                font-weight: bold;
                font-size: 25px;
            }
        }

        .main-text {
            background: $aside-grey;
            height: 320px;
            overflow-x: hidden;
        }

        .room-container {
            padding: 1px 2px;
        }

        .room {
            height: 200px;
            background-size: cover;
            width: 100%;
        }
    }

    #para {
        color: #fff;
    }
}
@media (max-width:991px) {
    .internal-page {
        min-height: 800px;
    }

    .internal-page .internal-container aside {
        height: 70px;
    }
}
