@import "bootstrap-compass";
@import "bootstrap-variables";
$grid-float-breakpoint: 1005px;
@import "bootstrap";
@import "footer";
@import "header";

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.index-page {
    background: url("../images/bg.jpg");
    background-size: contain;
    height: 100vh;

    header {
        position: relative;
        .navhome {

            margin-left: 170px;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .col-md-3,
    .col-sm-6,
    .col-xs-12 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.transparent {
    height: 220px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 62px;
}

.features {
    position: fixed;
    bottom: -97px;
    height: 400px;
    width: 100%;

    .feature-item {
        display: inline-block;
        float: left;
        height: 260px;
        padding-bottom: 10px;
        background: #fff;
        z-index: 5;

        .main-img {
            width: 100%;
            height: 150px;
        }

        div {
            min-height: 93px;
            padding: 1px 5px 5px 12px;
            position: relative;

            &.first {
                background: $exhib;
            }

            &.second {
                background: $internal;
            }

            &.third {
                background: $concept;
            }

            &.fourth {
                background: $branding;
            }

            h2 {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .forma {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 15px;
            top: 20px;
        }
    }
}
@media (max-width: 1005px) {
    .transparent {
        display: none;
    }
    .search {
        float: left!important;
    }
}
@media (max-width:991px) {
    .index-page {
        height: 717px;
    }

    .features {
        position: static;
        margin-top: 60px;

        .feature-item {
            margin-top: 10px;
        }
    }
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}
@media(max-width:486px) {
    .features .feature-item {
        margin-top: 20px;
    }
}
