.postimage1 , .postimage2{
  width:150px;
  heigth:150px;
  margin:10px;
  border-radius:10px;
  float:left;
}
/*.postimage:hover{
  opacity: 0.5;
}*/

.podiv1 , .podiv2{
  float:left;
  width:150px;
  margin:10px;
  border-radius:10px;
  position: relative;
}
.podiv1 a , .podiv2 a{
  position:absolute;
  margin:10px 0 0 145px;
  font-size: 15px;
  color:red;
}
