/* line 1, ../sass/footer.scss */
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 16px;
  width: 100%;
  background-color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 43px;
}
/* line 12, ../sass/footer.scss */
footer span {
  text-transform: uppercase;
}
